/* Styling for the body */
body {
  font-family: Lora;
  background-image: url(../img/bgimg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/* Styling for the suggested games card */
.card-body,
.card-header {
  background-color: rgb(212, 212, 212) !important;
  color: rgba(41, 41, 41, 0.9);
}
.card {
  border: 1px solid rgba(255, 255, 255, 0.7);
}
/* Styling for the form */
.form-field {
  color: rgb(212, 212, 212);
}
.form-control {
  background-color: rgb(212, 212, 212) !important;
  color: rgba(41, 41, 41, 0.9);
}
/*Styling for the buttons*/
.my-btn:hover {
  color: rgb(212, 212, 212);
  background-color: rgba(41, 41, 41, 0.9) !important;
}
.btn-primary:hover {
  color: rgb(212, 212, 212);
  background-color: rgba(54, 54, 54, 0.9) !important;
}
/* Media Queries */
@media (min-width: 474px) {
  .section-heading .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100;
  }
}

