<!DOCTYPE html>
<!-- Extends the content on base.html -->
{% extends 'base.html' %} {% block content %}
<!-- Page Title -->
<h1 class="page-title">Add Game</h1>
<form action="{{ url_for('insert_game') }}" method="POST" class="needs-validation" novalidate>
  <div class="form-group">
    <label class="form-field" for="exampleFormControlSelect1"
      ><h4><i class="fas fa-list-ul"></i> Genre</h4></label
    >
    <!-- This bit of code will loop through the different genres in my database and display them on the page -->
    <select class="form-control" id="exampleFormControlSelect1" name="game_genre">
      {% for gen in genre %}
      <option value="{{ gen.game_genre }}">{{ gen.game_genre }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label class="form-field" for="validationCustom01"
        ><h4><i class="fas fa-user-circle"></i> First name:</h4></label
      >
      <input
        type="text"
        class="form-control"
        id="first_name"
        name="first_name"
        placeholder="First name"
        required
      />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-field" for="validationCustom02"
        ><h4><i class="fas fa-user-circle"></i> Last name:</h4></label
      >
      <input
        type="text"
        class="form-control"
        id="last_name"
        name="last_name"
        placeholder="Last name"
        required
      />
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <label class="form-field" for="validationCustom03"
        ><h4><i class="fas fa-gamepad"></i> Game Title:</h4></label
      >
      <input
        type="text"
        class="form-control"
        id="game_title"
        name="game_title"
        placeholder="Enter the game title"
        required
      />
    </div>
  </div>
  <div class="form-group">
    <label class="form-field" for="exampleFormControlTextarea1"
      ><h4><i class="fas fa-pen"></i> Game Description:</h4></label
    >
    <textarea
      class="form-control"
      id="game_description"
      name="game_description"
      rows="3"
      placeholder="Enter your game description"
    ></textarea>
  </div>
  <button class="btn btn-primary col-md-2 form-field form-control my-btn" type="submit">
    <strong>Add Game <i class="far fa-share-square"></i></strong>
  </button>
</form>
{% endblock %}
