<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<section class="page-section clearfix">
	<div class="container">
		<div class="intro">
			<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{url_for('static', filename='img/bf.jpg')}}" alt="">
			<div class="intro-text left-0 text-center bg-faded p-5 rounded">
				<h2 class="section-heading mb-4">
					<span class="section-heading-upper">Games</span>
					<span class="section-heading-lower">Worth Playing</span>
				</h2>
				<p class="mb-3">Have you played a game recently that you just have to share with the gaming world? well
					look no further here at gamer gram you can upload you favourite games new or old for everyone to
					see. Just click the button below.
				</p>
				<div class="intro-button mx-auto">
					<a class="btn btn-primary btn-xl" href="{{ url_for('suggested') }}"><h5>Suggested Games</h5></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-section cta">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<div class="cta-inner text-center rounded">
					<h2 class="section-heading mb-4">
						<span class="section-heading-upper">Our Promise</span>
						<span class="section-heading-lower">To You</span>
					</h2>
					<p class="mb-0">Being a gamer myself I always want to know about new and old games that I might not
						of heard of before. My promise to all the gamers out there by creating this site I am giving you
						a hub, a place where you can find new and exciting games, you can even find the top 10 games
						exculsive to your console of choice so get browsing!</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}