<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}

<h2>{{ page_title }}</h2>

{% for game in playstation4 %} {% if loop.index % 2 != 0 %}

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ml-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper text-capitalize">Release Date: {{ game.release_date }}</span>
            <span class="section-heading-lower">{{ game.game_title }}</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="{{ game.image_source }}"
        alt=""
      />
      <div class="product-item-description d-flex mr-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">{{ game.game_description }}</p>
        </div>
      </div>
    </div>
  </div>

  {% else %}

  <section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper text-capitalize">Release Date: {{ game.release_date }}</span>
              <span class="section-heading-lower">{{ game.game_title }}</span>
            </h2>
          </div>
        </div>
        <img
          class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
          src="{{ game.image_source }}"
          alt=""
        />
        <div class="product-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">
              {{ game.game_description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endif %}

  {% endfor %} {% endblock %}
</section>
