<!DOCTYPE html>
{% extends 'base.html'%} {% block content %}
<!-- Materilaize -->
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
/>
<h3 class="suggested-title">Suggested Games</h3>
<ul class="collapsible">
  {% for game in suggested %}
  <li>
    <div class="collapsible-header">
      <i class="material-icons">expand_more</i>
      <h5>
        Game Title: {{ game.game_title }} - {{ game.first_name }} {{
        game.last_name}}
      </h5>
    </div>
    <div class="collapsible-body">
      <h5>Game Description:</h5>
      <span>{{ game.game_description}}</span>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
