<!DOCTYPE html>
<!-- Extends the content on base.html -->
{% extends 'base.html' %} {% block content %}
<!-- Page Title -->
<h1 class="page-title">Suggested Games</h1>
<!-- Paragraph explaining the page -->
<section class="page-section clearfix">
  <div class="container">
    <div class="text-center bg-faded p-4 rounded">
      <h5>
        Here you can find all our users reccomended games why not add one
        yourself
      </h5>
      <div class="intro-button mx-auto">
        <a
          class="btn btn-primary btn-md col-md-2"
          href="{{ url_for('add_game') }}"
          ><h5><i class="fas fa-plus"></i> Add Game</h5></a
        >
      </div>
    </div>
  </div>
</section>
<!-- for loop that will loop through my mongodb and diplay the suggested data -->
{% for game in suggested %}
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h4
        class="mb-0"
        data-toggle="collapse"
        data-target="#{{ game.html_game_id }}"
        aria-expanded="true"
        aria-controls="{{ game.html_game_id }}"
      >
        <i class="fas fa-caret-square-down"></i>
        Game Title: {{ game.game_title}}
      </h4>
      <div class="intro-button mx-auto">
        <!-- Button to Edit a task -->
        <a
          class="btn btn-dark btn-sm col-md-1"
          href="{{ url_for('edit_game', game_id=game._id) }}"
          ><h6>Edit</h6></a
        >
        <!-- Button to Delete a task -->
        <a
          class="btn btn-primary btn-sm col-md-1"
          href="{{ url_for('delete_game', game_id=game._id) }}"
          ><h6>Del</h6></a
        >
      </div>
    </div>
    <div
      id="{{ game.html_game_id }}"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <h4>Game Description:</h4>
        <p>{{ game.game_description }}</p>
      </div>
      <div class="card-body">
        User's name: {{ game.first_name }} {{ game.last_name }}
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
