<!DOCTYPE html>
{% extends 'base.html'%} {% block content %}
<h1 class="page-title">Suggested Games</h1>
{% for game in suggested %}
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h4
        class="mb-0"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <i class="fas fa-caret-square-down"></i>
        Game Title: {{ game.game_title}} - Genre: {{ game.game_genre }}
      </h4>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <h5>Game Description:</h5>
        {{ game.game_description }}
      </div>
      <div class="card-body">
        User's name: {{ game.first_name }} {{ game.last_name }}
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
